body {
    margin:  0px;
    padding: 0px;
    background-color: blue;
    color: white;
    font-family: 'NeoDonggeunmo';
    display: flex;
    flex-direction: column;
    height: 100vh;
}

@font-face {
    font-family: 'NeoDonggeunmo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

header {
    display: flex;
    padding: 16px;
  
    justify-content: flex-end;
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


footer {
    display: flex;
    padding: 16px;

}

.title {
    font-size: 64px;
}

.menu-item {
    font-size: 32px;
}

.select {
    background-color: black;
    color: yellow;
}

.hide {
    display: none;
}